In [ ]:
!pip install --ignore-installed pycaret[full]

In [1]:
# import libraries
import boto3, os
from sagemaker import get_execution_role
import pandas as pd
from dotenv import load_dotenv
from load_data import load_data



my_region = boto3.session.Session().region_name

sagemaker.config INFO - Not applying SDK defaults from location: /Library/Application Support/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /Users/lanre.bakare/Library/Application Support/sagemaker/config.yaml

In [2]:
load_dotenv(".env")
role = get_execution_role()

model_name = os.getenv("model_name").replace(" ", "").lower()
model_features = [x.strip() for x in os.environ["features"].split(",")]
target = os.getenv("target")
print(model_name, model_features, target)

bucket= os.getenv("bucket")
data_key = os.getenv("key")
data_location = 's3://{}/{}'.format(bucket, data_key)
print(data_location)

sagemaker.config INFO - Not applying SDK defaults from location: /Library/Application Support/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /Users/lanre.bakare/Library/Application Support/sagemaker/config.yaml
randomforestregressor ['Bakerloo', 'dayOfWeek', 'hour', 'minute'] Bakerloo10
s3://streaming-data-platform-ml-data/bakerloo.csv

In [3]:
data = load_data(data_location)
df = data.copy()
df.shape

(7127, 5)

In [4]:
print(df.shape)
# Randomly shuffle the DataFrame
df_shuffled = df.sample(frac=1).reset_index(drop=True)
train_size = int(0.8 * len(df))
train_data = df_shuffled[:train_size]
test_data = df_shuffled[train_size:]
target = os.getenv("target")
print(train_data.shape, test_data.shape)

(7127, 5)
(5701, 5) (1426, 5)

In [5]:
from pycaret.regression import *
s = setup(data = train_data, target = target, session_id=123)

In [6]:
best = compare_models()

In [7]:
# Users are allowed to create their own model if they want to.
# This uses the default hyperparameters to train the model which you can then choose to tune as you want.
# In order to tune hyperparameters, the tune_model function is used
xgboost = create_model('xgboost')

In [8]:
tuned_model = tune_model(xgboost)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [9]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin

In [10]:
predict_model(best)

      Bakerloo  dayOfWeek  hour  minute  Bakerloo10  prediction_label
2676        11          3    23      23        14.0         14.079502
724         21          6     9      58        21.0         20.438036
4595        22          0     5      50        17.0         17.121785
1112        26          0    18      45        25.0         24.671917
4064        21          3    21      21        21.0         19.621684
...        ...        ...   ...     ...         ...               ...
3854        21          5    19      56        20.0         20.496424
4481        18          5    11      35        17.0         18.502632
467          2          6     5      38         2.0          2.128208
3551        26          3    15      21        26.0         25.657446
3459        27          3    17      44        28.0         27.397533

[1711 rows x 6 columns]

In [11]:
final_best_model = finalize_model(best)
print(final_best_model)

Pipeline(memory=Memory(location=None),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['Bakerloo', 'dayOfWeek', 'hour',
                                             'minute'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=[],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('actual_estimator',
                 <catboost.core.CatBoostRegressor object at 0x2a4d77eb0>)])

In [12]:
final_prediction = predict_model(final_best_model, data=test_data)
final_prediction.head()

      Bakerloo  dayOfWeek  hour  minute  Bakerloo10  prediction_label
5701        25          1     9      28        23.0         25.247768
5702        22          6    17       1        21.0         21.697097
5703        27          0     7      29        27.0         27.847999
5704         8          1    23      27        13.0         12.945861
5705        24          3     5      53        21.0         20.488496

In [13]:
from pycaret.utils.generic import check_metric
check_metric(final_prediction.Bakerloo10, final_prediction.prediction_label, 'RMSE')

0.9401