In [ ]:
!pip install --ignore-installed pycaret[full]

In [1]:
# import libraries
import boto3, os
from sagemaker import get_execution_role
import pandas as pd
from dotenv import load_dotenv
from load_data import load_data



my_region = boto3.session.Session().region_name

sagemaker.config INFO - Not applying SDK defaults from location: /Library/Application Support/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /Users/lanre.bakare/Library/Application Support/sagemaker/config.yaml

In [2]:
load_dotenv(".env")
role = get_execution_role()

target = os.getenv("target")

bucket= os.getenv("bucket")
data_key = os.getenv("key")
data_location = 's3://{}/{}'.format(bucket, data_key)
print(data_location)

sagemaker.config INFO - Not applying SDK defaults from location: /Library/Application Support/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /Users/lanre.bakare/Library/Application Support/sagemaker/config.yaml
s3://streaming-data-platform-ml-data/bakerloo.csv

In [3]:
data = load_data(data_location)
df = data.copy()
df.shape

(7127, 5)

In [4]:
print(df.shape)
# Randomly shuffle the DataFrame
df_shuffled = df.sample(frac=1).reset_index(drop=True)
# Sort by day and then pick the first 80% as your test data. 
train_size = int(0.8 * len(df))
train_data = df_shuffled[:train_size]
test_data = df_shuffled[train_size:]
target = os.getenv("target")
print(train_data.shape, test_data.shape)

(7127, 5)
(5701, 5) (1426, 5)

In [5]:
from pycaret.regression import *
s = setup(data = train_data, target = target, session_id=123)

In [6]:
best = compare_models()

In [7]:
# Users are allowed to create their own model if they want to.
# This uses the default hyperparameters to train the model which you can then choose to tune as you want.
# In order to tune hyperparameters, the tune_model function is used
xgboost = create_model('xgboost')

In [8]:
tuned_model = tune_model(xgboost)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [9]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin

In [10]:
predict_model(best)

      Bakerloo  dayOfWeek  hour  minute  Bakerloo10  prediction_label
2676        24          3    10      10        23.0         23.793894
724         17          3     5      29        14.0         14.018951
4595        26          0    18      17        28.0         27.176376
1112        18          5    10      40        18.0         17.882286
4064        22          1    13      44        23.0         22.350794
...        ...        ...   ...     ...         ...               ...
3854        24          1    20      25        22.0         23.127800
4481        30          3     7      14        29.0         29.343656
467         31          3     7      42        29.0         29.768587
3551         2          6     4      37         2.0          1.878369
3459        20          4    10      13        23.0         21.442220

[1711 rows x 6 columns]

In [11]:
final_best_model = finalize_model(best)
print(final_best_model)

Pipeline(memory=Memory(location=None),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['Bakerloo', 'dayOfWeek', 'hour',
                                             'minute'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=[],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('actual_estimator',
                 <catboost.core.CatBoostRegressor object at 0x29f8ca8f0>)])

In [12]:
final_prediction = predict_model(final_best_model, data=test_data)
final_prediction.head()

      Bakerloo  dayOfWeek  hour  minute  Bakerloo10  prediction_label
5701        19          5    10       2        19.0         18.888796
5702        28          3    17      26        29.0         28.140224
5703        27          0     8      39        27.0         26.623402
5704        29          3    16      48        29.0         28.634963
5705        21          1    10       8        23.0         22.864239

In [13]:
from pycaret.utils.generic import check_metric
check_metric(final_prediction.Bakerloo10, final_prediction.prediction_label, 'RMSE')

1.2016